
  .about-one{
    height: 100vh;
    background-color: rgb(252, 252, 252);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-one h1{
    font-size: 15rem;
    position: absolute;
    font-weight: 700;
    color: #00000013;
    margin-top: -33%;
  }

  .about-one .image{
    width: 35%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 20px 2px 20px 80px;
    position: relative;
    z-index: 2;
  }
  .about-one .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-one .border {
    width: 22%;
    height: 81%;
    background-color: transparent;
    border: 5px solid #12A1BE !important;
    position: relative;
    margin-left: -26%;
    margin-top: 0%;
    z-index: 1;
}
.about-one .content {
 
  width: 30%;
  height: 80%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 100px 20px;
  position: relative;
  align-items: start;
}
  .about-one .content .heading{
    text-align: start;
    display: flex;
    flex-direction: column;
    height: 60%;
   
  }
  .about-one .content .heading h2{
     font-size: 40px;
     color: #12A1BE;
     text-transform: uppercase;
     font-weight: 800;
  }
  .about-one .content span{
    font-family: raleway !important;
    font-size: 40px;
    color: #0000004f;
  }
.about-one .content p{
    width: 80%;
    justify-content: start;
    text-align: start;
    font-size: 16px;
}
.about-one .line{
    height: 8px;
    width: 60px;
    background-color: #12A1BE;
    margin-top: 12%;
  }
  .about-one .process{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }
  .about-one .process h3{
   
    font-weight: 600;
    color: #12A1BE;
    font-size: 2rem;
  }

  .about-one .h4 {
  
    display: flex;
    gap: 20px;
    padding: 20px 10px;
  }
  .about-one .h4 h4{
    color: #12A1BE;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  .about-one .h4 h4::before{
    content: '';
    height: 2px;
    width: 40px;
    background-color: #12A1BE;
  }
  .about-one a {
    text-decoration: none;
    padding: 5px 15px;
    text-transform: uppercase;
    transition: all ease-in-out .5s;
  }
  

  .about-two{
    height: 70vh;
    background: url(../images/aboutimg1.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    display: flex;
  }
  .about-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.74); 
    z-index: 1;
}
  .about-two .content1{
    /* background-color: red; */
    height: 100%;
    z-index: 1;
    display: block;
    flex-direction: column;
    padding: 100px 0px 0px 100px;
    width: 40%;
  }

  .about-two .content1 h1{
  
    color: #ffffffb0;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
  }
  .about-two .content1 h1 span{
    color: #fff;
    font-weight: 700;
  }
  .about-two .content1 img{
    width: 200px;
    animation: spinner 8s linear infinite;
  }

  

  @keyframes spinner {
    50% {
      transform: rotate(180deg); 
    }
    100% {
      transform: rotate(360deg); 
    }
  }

  .about-two .content2{
   
    width: 60%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 100px 30px;
    color: #ffffff;
  }

  .about-two .content2 .numbering{
    display: flex;
    
  }
  .about-two .content2 .numbers{
    
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 56%;
  }
  
  .about-two .counting-section{
    display: inline-block;
    gap: 5px;
  }
  
  .about-two .content2 .numbers h2{
    font-size: 4rem;
    font-family: sans-serif;
    color: #fff;
  }
  .about-two .content2 .numbers h3{
    color: #fff;
    font-size: 3rem;
    font-family: sans-serif;
  }
  .about-two .content2 .numbers p{
    font-size: 1rem;
  }
  .about-three{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 2;
    background: url(../images/timeline-11.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .about-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.74); 
    z-index: 1; 
}
  .mission-vision{
    width: 100%;
    height: 50%;
   
    padding: 20px;
    position: relative;
    display: flex;
    z-index: 1;
    
  }
  .mission-vision-2{
    padding-left: 0px !important;
  }
   
  .about-three .mission-vision .content{
   box-shadow: 0px 0px 10px #00000015;
    width: 50%;
    height: 100%;
    z-index: 1;
    background-color: #000000a9;
    align-items: end;
  }
  .mission-vision .content .num{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
  }
  .about-three .content h1 {
    color: #ffffff;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: end;
    display: flex;
    align-items: center; 
}

.about-three .content h1::before {
    content: ''; 
    height: 80px;
    width: 2px;
    background-color: #fff;
    margin-right: 10px;
    display: inline-block; 
}
  .about-three .content h2{
    font-size: 7rem;
    color: #ffffff31;
    font-family: sans-serif;
  }
  .about-three .content p{
    text-align: end;
    color: #fff;
  }
  .mission-vision .lines{

    display: flex;
    width: 50%;
    height: 80%;
    z-index: 1;
  }
  .mission-vision .line3{
    width: 100%;
    height: 2px;
    background-color: #12A1BE;
    display: flex;
    margin-top: 20.7%;
  }
.mission-vision .bullet{
  width: 20px;
  height: 20px;
  background-color: #12A1BE;
  border-radius: 50%;
  margin-top: 19%;
}
  .mission-vision .line1{
    width: 36%;
    height: 2px;
    background-color: #12A1BE;
    margin-left: 1.3%;
    display: flex;
  }
  .mission-vision .lines .line2{
    margin-left: 33.8%;
    transform: rotate(40deg);
    margin-top: 9.7%;
    width: 30%;
    height: 2px;
    background-color: #12A1BE;
  }
  
  
  /* responsive design */
  @media screen and (max-width: 768px) {

    .about-one {
      flex-direction: column;
      height: 133vh;
    }
    .about-one h1 {
      font-size: 6rem;
      font-weight: 700;
      color: #31303013;
    }

    .about-one .image{
      width: 90%;
      display: inline-block;
      padding: 0;
      margin-top: 20%;
    }
    .about-one .content{
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
    .about-one .content p{
      text-align: justify;
      width: 98%;
    }
    .about-one .process{
      margin-top: 12%;
    }
    .about-one .h4 {
      flex-direction: column;
    }
    .line{
      top: 74%;
      display: none;
    }


    /* about-2nd-section */
    .about-two{
      flex-direction: column;
      height: 152vh;
    }
    .about-two .content1{
      padding: 20px 0px 0px 20px;
    }
    .about-two .content2{
      width: 95%;
    }

    .about-two .content2 p{
      margin-top: -166px;
      width: 102%;
      text-align: justify;
    }
    .about-two .content2 .numbering{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .para1{
      padding-top: 149px; 
      padding-left: 10px;
      position: absolute;
      margin-left: -29px;
    }
    .para2{
      padding-top: 155px;
      padding-left: 10px;
    }
    .para3{
      padding-top: 151px;
    }
    .para4{
      padding-top: 148px;
      padding-left: 26px;
    }
    .about-three{
      height: 157vh;
    }
    .about-three .mission-vision .content{
      width: 99%;
      height: 71%;
    }
    .about-three .content h2{
      font-size: 6rem;
    }
    .about-three .content p{
      text-align: justify;
    }
    .mission-vision .line3{
      width: 0;
    }
    .mission-vision .lines{
      width: 6%;
    }
    
}


@media(max-width:400px){
  .about-one .process {
    margin: 30% 0%;
  }
  .about-two .content2 {
    margin-top: 25%;
}
.about-two {
  height: 200vh;
}
}

